{% extends 'base.html.twig' %}

{% block title %}Wikicampers - Se connecter{% endblock %}

{% block body %}

<img src="{{ asset('assets/images/background-login.jpeg') }}" alt="Background login" id="background-login">

<form method="post" id="login-form">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal" id="login-title">Se connecter</h1>
    <div class="username">
        <label for="inputUsername" class="label-login">Identifiant</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" autocomplete="username" required autofocus>
    </div>
    <div class="password">
        <label for="inputPassword" class="label-login">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="submit-widget" type="submit">
        Connexion
    </button>
</form>
{% endblock %}
